---
layout: base
---

<div class="container">

 <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SoftDev</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/resources.html">Resources</a></li>
            <li><a href="http://github.com/stuycs-softdev">GitHub</a></li>
            <li><a href="/assignments.html">Resources</a></li>
            <li class="Minutia">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Minutia<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Instructions</a></li>
                <li><a href="/minutia6.html">Period 6</a></li>
                <li><a href="/minutia7.html">Period 7</a></li>
		<li><a href="/minutiaorder.html">Order</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

{{ content }}

</div>

